<center>

<p>
<%= link_to 'Home', root_path %> |
<%= link_to 'About', about_path %> |
<%= link_to 'Character Directory', fnafs_path %>
</p>

<hr>

<h1>About FNaF</h1>

<p>So what in the world is FNaF? It stands for 'Five Nights at Freddy's', and it's a horror genre point-and-click game series made by Scott Cawthon. You play as a security guard who takes the night shift at Freddy Fazbear's Pizzaria, a "family friendly" restuarant that denies all rumors of kidnappings and murder. During the day the animatronic animal characters are friendly, but at night they become hostile, stuffing any human they find after-hours into an empty costume. That wouldn't be so bad if the suits themselves weren't filled with crossbeams, wires, and animatronic devices, especially around the facial area. So, you could imagine how having your head forcefully pressed inside one of those could cause a bit of discomfort...and death.