<center>
<h1>Welcome to my FNaF Directory</h1>

<p>The purpose of this project is to give you a bit of knowledge about the popular game series titled "Five Nights at Freddy's". Click the 'about' link below for some general info, or click 'character directory' to meet the spooky cast.</p>

<p>
<%= link_to 'Home', root_path %> |
<%= link_to 'About', about_path %> |
<%= link_to 'Character Directory', fnafs_path %>
</p>
</center>